/*body{
	background:#eee;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	margin:0;
	padding:0}*/
.example{
  background:black;
   /*min-height: 500px;*/
  width: 100%;
  height: 900px;
 /* border:1px #000 solid;*/
  /*margin:20px auto;*/
 /* padding:20px;*/
  /*-moz-border-radius:3px;
  -webkit-border-radius:3px*/
}
/* common kaleidoscope styles */
.kal_main{
  overflow:
  hidden;
  height: 700px;
  margin:auto
}

.kal_cont{
  width:140%;
  height:140%;
  left:-20%;
  top:-20%;
  position:relative;
  margin:auto
}

.kal_cont .ks{
-webkit-transform-origin:right top;
-moz-transform-origin:right top;
-o-transform-origin:right top;
transform-origin:right top;
width:50%;
height:50%;
position:absolute;
top:50%;left:0;
/*z-index:10;*/
overflow:hidden;
}
.kal_cont .ksc{
height:100%;width:100%;-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg);position:relative;-webkit-transform-origin:left top;-moz-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top;left:100%;top:0;
background-image:url(background22.jpg)
}
/* styles for each sector */
.kal_cont .s1 {
-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
transform: rotate(-30deg);
}
.kal_cont .s2 {
-webkit-transform: rotate(30deg) matrix(-1,0,0,1,0,0);
-moz-transform: rotate(30deg) matrix(-1,0,0,1,0,0);
-o-transform: rotate(30deg) matrix(-1,0,0,1,0,0);
transform: rotate(30deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s3 {
-webkit-transform: rotate(30deg);
-moz-transform: rotate(30deg);
-o-transform: rotate(30deg);
transform: rotate(30deg);
}
.kal_cont .s4 {
-webkit-transform: rotate(90deg) matrix(-1,0,0,1,0,0);
-moz-transform: rotate(90deg) matrix(-1,0,0,1,0,0);
-o-transform: rotate(90deg) matrix(-1,0,0,1,0,0);
transform: rotate(90deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s5 {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}
.kal_cont .s6 {
-webkit-transform: rotate(150deg) matrix(-1,0,0,1,0,0);
-moz-transform: rotate(150deg) matrix(-1,0,0,1,0,0);
-o-transform: rotate(150deg) matrix(-1,0,0,1,0,0);
transform: rotate(150deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s7 {
-webkit-transform: rotate(150deg);
-moz-transform: rotate(150deg);
-o-transform: rotate(150deg);
transform: rotate(150deg);
}
.kal_cont .s8 {
-webkit-transform: rotate(210deg) matrix(-1,0,0,1,0,0);
-moz-transform: rotate(210deg) matrix(-1,0,0,1,0,0);
-o-transform: rotate(210deg) matrix(-1,0,0,1,0,0);
transform: rotate(210deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s9 {
-webkit-transform: rotate(210deg);
-moz-transform: rotate(210deg);
-o-transform: rotate(210deg);
transform: rotate(210deg);
}
.kal_cont .s10 {
-webkit-transform: rotate(270deg) matrix(-1,0,0,1,0,0);
-moz-transform: rotate(270deg) matrix(-1,0,0,1,0,0);
-o-transform: rotate(270deg) matrix(-1,0,0,1,0,0);
transform: rotate(270deg) matrix(-1,0,0,1,0,0);
}
.kal_cont .s11 {
-webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
-o-transform: rotate(270deg);
transform: rotate(270deg);
}
.kal_cont .s12 {
-webkit-transform: rotate(330deg) matrix(-1,0,0,1,0,0);
-moz-transform: rotate(330deg) matrix(-1,0,0,1,0,0);
-o-transform: rotate(330deg) matrix(-1,0,0,1,0,0);
transform: rotate(330deg) matrix(-1,0,0,1,0,0);
}

h1 {
	 font-family: 'Permanent Marker', cursive;
	margin: 0 auto;
	vertical-align: middle;
    text-align:center;
    z-index: 100;
    font-size: 3em;
}


h1:hover{
   font-family: 'Permanent Marker', cursive;
  margin: 0 auto;
  vertical-align: middle;
    text-align:center;
    z-index: 100;
    font-size: 3,5em;
    color: lime
    font-family:courier;
    text-decoration: line-through;
}
/*glitch*/

.glitch {
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 6em;
  
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(58px, 9999px, 61px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 11px, 0);
  }
  10% {
    clip: rect(54px, 9999px, 30px, 0);
  }
  15% {
    clip: rect(14px, 9999px, 88px, 0);
  }
  20% {
    clip: rect(47px, 9999px, 3px, 0);
  }
  25% {
    clip: rect(3px, 9999px, 25px, 0);
  }
  30% {
    clip: rect(60px, 9999px, 33px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 65px, 0);
  }
  40% {
    clip: rect(1px, 9999px, 15px, 0);
  }
  45% {
    clip: rect(80px, 9999px, 95px, 0);
  }
  50% {
    clip: rect(95px, 9999px, 19px, 0);
  }
  55% {
    clip: rect(59px, 9999px, 49px, 0);
  }
  60% {
    clip: rect(84px, 9999px, 88px, 0);
  }
  65% {
    clip: rect(14px, 9999px, 29px, 0);
  }
  70% {
    clip: rect(71px, 9999px, 100px, 0);
  }
  75% {
    clip: rect(61px, 9999px, 1px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 7px, 0);
  }
  85% {
    clip: rect(36px, 9999px, 57px, 0);
  }
  90% {
    clip: rect(82px, 9999px, 80px, 0);
  }
  95% {
    clip: rect(58px, 9999px, 35px, 0);
  }
  100% {
    clip: rect(72px, 9999px, 3px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(65px, 9999px, 85px, 0);
  }
  5% {
    clip: rect(14px, 9999px, 53px, 0);
  }
  10% {
    clip: rect(95px, 9999px, 67px, 0);
  }
  15% {
    clip: rect(22px, 9999px, 57px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 57px, 0);
  }
  25% {
    clip: rect(17px, 9999px, 51px, 0);
  }
  30% {
    clip: rect(35px, 9999px, 96px, 0);
  }
  35% {
    clip: rect(97px, 9999px, 65px, 0);
  }
  40% {
    clip: rect(77px, 9999px, 82px, 0);
  }
  45% {
    clip: rect(46px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  55% {
    clip: rect(3px, 9999px, 50px, 0);
  }
  60% {
    clip: rect(98px, 9999px, 58px, 0);
  }
  65% {
    clip: rect(55px, 9999px, 43px, 0);
  }
  70% {
    clip: rect(33px, 9999px, 65px, 0);
  }
  75% {
    clip: rect(81px, 9999px, 33px, 0);
  }
  80% {
    clip: rect(75px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(8px, 9999px, 77px, 0);
  }
  90% {
    clip: rect(61px, 9999px, 52px, 0);
  }
  95% {
    clip: rect(27px, 9999px, 50px, 0);
  }
  100% {
    clip: rect(20px, 9999px, 57px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 90px, 0, 0);
  animation: noise-anim-1 5s infinite linear alternate-reverse;
}

body {
  background: black;
  
  color: white
}

/*button*/


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #1ECD97;
}
button:active {
  letter-spacing: 2px;
}
button:after {
  content: "SUBMIT";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
